<div class="title">
  <h1>Prospectos sin asignar</h1>
</div>
<mat-tab-group class="tab-group">

  <mat-tab label="Sin Llamar">
    <ng-template mat-tab-label>
      <mat-icon>settings_phone</mat-icon>&nbsp;&nbsp;
      <span class="tab-name" matTooltip="Usuarios que no han sido llamados o contactados">
        Sin Llamar<span class="badge">{{unassigned?.length || '-' }}</span>
      </span>
    </ng-template>
    <div class="tab-content">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" class="prospects-container">
        <prospect-card *ngFor="let prospect of unassigned" [prospect]="prospect"></prospect-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="No Interesados">
    <ng-template mat-tab-label>
      <mat-icon>not_interested</mat-icon>&nbsp;&nbsp;
      <span class="tab-name" matTooltip="Usuarios que no están interesados en la plataforma">
        No Interesados<span class="badge">{{notInterested?.length || '-' }}</span>
      </span>
    </ng-template>
    <div class="tab-content">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" class="prospects-container">
        <prospect-card *ngFor="let prospect of notInterested" [prospect]="prospect"></prospect-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>