.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 1;
}

.side-item {
  cursor: pointer;
  color: rgb(45, 40, 40);
}

.side-item:hover {
  background-color: #9C27B0;
  color: #FFFFFF;
}

.prospects-container {
  margin: 1em;
}
