<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true">
    <mat-list role="list">
      <mat-list-item role="listitem" class="side-item" [routerLink]="['']" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        Inicio
      </mat-list-item>
      <mat-list-item role="listitem" class="side-item" (click)="createProspect()">
        <mat-icon mat-list-icon>person_add</mat-icon>
        Agregar Prospecto
      </mat-list-item>
      <mat-list-item role="listitem" class="side-item" [routerLink]="['my-prospects']" routerLinkActive="active">
        <mat-icon mat-list-icon>playlist_add_check</mat-icon>
        Mis Prospectos
      </mat-list-item>
      <mat-list-item role="listitem" class="side-item" (click)="logOut()">
        <mat-icon mat-list-icon>power_settings_new</mat-icon>
        Cerrar Sesión
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

    <button mat-fab color="accent" class="fixed-bottom-right" (click)="createProspect()">
      <mat-icon aria-label="Add">add</mat-icon>
    </button>

  </mat-sidenav-content>
</mat-sidenav-container>
