<div class="example-container">
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="showLoading"></mat-progress-bar>

  <form [formGroup]="prospectForm" fxLayout="column">

    <div fxLayout="row">
      <mat-form-field fxFlex="85">
        <input matInput placeholder="Celular" type="number" formControlName="cellPhone" [readonly]="numberValidated" autofocus>
      </mat-form-field>

      <button mat-icon-button color="accent" fxFlex="15" (click)="openChat(prospectForm.controls.cellPhone.value)" *ngIf="!prospectForm.controls.cellPhone.errors?.required" [disabled]="prospectForm.controls.cellPhone.errors?.required">
        <i class="fab fa-whatsapp fa-2x whatsapp-icon"></i>
      </button>
    </div>

    <button mat-raised-button color="primary" type="button" *ngIf="!numberValidated" [disabled]="prospectForm.controls.cellPhone.errors?.required"
      (click)="validateCellPhone(prospectForm.controls.cellPhone.value)">Validar</button>

    <div *ngIf="numberValidated" fxLayout="column">

      <mat-form-field>
        <input matInput placeholder="Cédula o Nit" type="text" formControlName="identification">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombres" type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Apellidos" type="text" formControlName="lastName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Código de Profesional" type="text" formControlName="code">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Correo" type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Inmobiliaria" type="text" formControlName="realState">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Asociación" formControlName="association">
          <mat-option *ngFor="let association of associations" [value]="association.name"> {{ association.name }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Teléfono (fijo)" type="number" formControlName="phone">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Departamento" formControlName="department" (change)="onDepartmentChanged($event)">
          <mat-option *ngFor="let department of departments | async" [value]="department.name"> {{ department.name }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Ciudad" formControlName="city">
          <mat-option *ngFor="let city of cities | async" [value]="city"> {{ city }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Estado" formControlName="status" [disabled]="!ableToChangeStatus" (selectionChange)="statusSelectionChange($event)">
          <mat-option *ngFor="let status of statusArray" [value]="status"> {{ status | status }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Observaciones" formControlName="comment"></textarea>
      </mat-form-field>

      <section class="checkbox-section" *ngIf="isUnassigned">
        <mat-checkbox class="example-margin" [(ngModel)]="assignToMe" [ngModelOptions]="{standalone: true}">Asignarme este prospecto</mat-checkbox>
      </section>

      <div class="alert alert-warning" *ngIf="!isMyProspect && !isUnassigned">
        No puedes editar o modificar este prospecto porque está asignado a
        <strong> {{(userInfo | async)?.name }} </strong>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center">
        <div fxLayout="row" fxFlex="50">
          <button mat-icon-button color="primary" *ngIf="prospectCopy" (click)="openManagementsDialog()">
            <mat-icon aria-label="managements icon">comment</mat-icon>
          </button>
          <button mat-icon-button color="accent" *ngIf="prospectCopy && prospectCopy.userAppInfo" (click)="openAppProfile(prospectCopy.userAppInfo.id)">
            <mat-icon aria-label="managements icon">link</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxFlex="50" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" type="button" [disabled]="!prospectForm.valid || (!isMyProspect && !isUnassigned)"
            (click)="saveProspect()">Guardar</button>
          <button mat-raised-button type="button" (click)="dismiss()">Cancelar</button>
        </div>
      </div>

    </div>
  </form>
</div>
