.login-card {
  width: 20%;
  top: 10%;
  position: fixed;
  left: 36%;
  background-color: #FFFFFF;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.login-container>* {
  width: 100%;
}

.input-container {
  width: 100%;
}

.card-title {
  text-align: center;
  color: #9c27b0;
  font-size: 1.5em;
}

@media (max-width: 576px) {
  .login-card {
    position: fixed;
    width: 80%;
    top: 5%;
    left: 5%;
  }
  .input-container {
    width: 75%;
    padding-left: 10%;
  }
}

@media (min-width: 576px) and (max-width: 960px) {
  .login-card {
    width: 30%;
    top: 10%;
    position: fixed;
    left: 30%;
  }
}
