<div class="my-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="card-title">
        <h3>Social Business Admin</h3>
      </mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <img mat-card-image src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?auto=format&fit=crop&w=1002&q=80" alt="Photo of a Shiba Inu">
    <form [formGroup]="accountForm" (ngSubmit)="doLogin()">
      <mat-card-content>
        <div class="login-container">
          <mat-form-field class="input-container">
            <input matInput type="email" formControlName="email" placeholder="Correo" autofocus>
          </mat-form-field>

          <mat-form-field class="input-container">
            <input matInput type="password" formControlName="password" placeholder="Contraseña">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="column">
          <button mat-raised-button color="primary" [disabled]="!accountForm.valid" type="submit">Iniciar Sesión</button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
