<div class="example-container">
  <form [formGroup]="managementForm" (ngSubmit)="addManagement()" fxLayout="row">
    <mat-form-field fxFlex="80">
      <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20">
      <button mat-raised-button color="accent" type="submit" [disabled]="!managementForm.valid">Agregar</button>
      <button mat-raised-button type="button" (click)="dismiss()">Cancelar</button>
    </div>
  </form>
</div>

<div class="table-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
    </ng-container>

    <!-- CreatedDate Column -->
    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.createdDate | date: 'dd-MM-yyyy hh:mm a'}} </mat-cell>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{(row.user |async)?.name}} - {{(row.user |async)?.lastName}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</div>
