<mat-tab-group class="tab-group">

  <mat-tab label="Contactados">
    <ng-template mat-tab-label>
      <mat-icon>zoom_in</mat-icon>&nbsp;&nbsp;
      <span class="tab-name" matTooltip="Usuarios Contactados, que aún no existen en la plataforma">
        Contactados<span class="badge">{{assigned?.length || '-' }}</span>
      </span>
    </ng-template>
    <div class="tab-content">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" class="prospects-container">
        <prospect-card *ngFor="let prospect of assigned" [prospect]="prospect"></prospect-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Usuarios">
    <ng-template mat-tab-label>
      <mat-icon>access_time</mat-icon>&nbsp;&nbsp;
      <span class="tab-name" matTooltip="Usuarios que existen en la plataforma que tienen los 30 días gratis">
        Usuarios<span class="badge">{{users?.length || '-' }}</span>
      </span>
    </ng-template>
    <div class="tab-content">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" class="prospects-container">
        <prospect-card *ngFor="let prospect of users" [prospect]="prospect"></prospect-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Premium">
    <ng-template mat-tab-label>
      <mat-icon>star</mat-icon>&nbsp;&nbsp;
      <span class="tab-name" matTooltip="Usuarios VIP que ya pagaron la membresía">
        Premium<span class="badge">{{premium?.length || '-' }}</span>
      </span>
    </ng-template>
    <div class="tab-content">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" class="prospects-container">
        <prospect-card *ngFor="let prospect of premium" [prospect]="prospect"></prospect-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Vencidos">
    <ng-template mat-tab-label>
      <mat-icon>feedback</mat-icon>&nbsp;&nbsp;
      <span class="tab-name" matTooltip="Usuarios a los que ya se les venció, la membresía o los 30 días gratis.">
        Vencidos<span class="badge">{{expired?.length || '-' }}</span>
      </span>
    </ng-template>
    <div class="tab-content">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" class="prospects-container">
        <prospect-card *ngFor="let prospect of expired" [prospect]="prospect"></prospect-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="No Interesados">
    <ng-template mat-tab-label>
      <mat-icon>not_interested</mat-icon>&nbsp;&nbsp;
      <span class="tab-name" matTooltip="Usuarios que no están interesados en la plataforma">
        No Interesados<span class="badge">{{notInterested?.length || '-' }}</span>
      </span>
    </ng-template>
    <div class="tab-content">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" class="prospects-container">
        <prospect-card *ngFor="let prospect of notInterested" [prospect]="prospect"></prospect-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
