body,
html {
  background-image: url('https://pre00.deviantart.net/81fb/th/pre/f/2011/200/9/b/purple_glass_wallpaper_by_dakirby309-d40wr16.jpg');
  margin: 0;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.title {
  text-align: center;
  margin: 1em;
  color: #9C27B0;
  text-shadow: #694f6e 0px 2px 20px;
}

.tab-group {
  border: 1px solid #e8e8e8;
  padding-bottom: 85px;
}

.tab-content {
  padding: 16px;
}

.tab-name .badge {
  position: relative;
  top: -10px;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .60rem;
  color: #FFFFFF;
  background-color: #9C27B0;
}

.whatsapp-icon {
  color: #25D366 !important;
}
