@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-purple);
$custom-accent : mat-palette($mat-blue, A200);

$custom-warn : mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);
