.prospect-card {
  cursor: pointer;
  height: 50px;
  padding: 15px;
  font-size: 15px;
}

.prospect-card-container {
  padding: 3px;
  width: 100%;
}

.phone {
  color: #9C27B0;
}

.phone:hover {
  font-size: 1.2em;
}

.email {
  color: #448AFF;
}

.management-button-container {
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
}

.pending-prospect-container {
  padding-top: 5px;
}

.expired {
  color: #8a6d3b;
}