<div class="prospect-card-container" fxLayout="row">
  <div class="pending-prospect-container" fxLayout="row" fxFlex="3" *ngIf="isOwner">
    <button mat-icon-button color="primary" (click)="changePendingStatus()" [disabled]="buttonDissabled">
      <mat-icon aria-label="managements icon">{{prospect.pending? 'bookmark' : 'bookmark_border'}}</mat-icon>
    </button>
  </div>
  <mat-card class="prospect-card" *ngIf="prospect && prospect.status !== 'FREE'" fxLayout="row" fxFlex="{{isOwner? '85': '88'}}" (click)="openEditDialog(prospect.key)">
    <div class="phone" fxFlex="15">
      {{ prospect.cellPhone }}
    </div>
    <div fxFlex="40">
      {{ prospect.name || '---' }} , {{ prospect.lastName || '---' }}
    </div>
    <div class="email" fxFlex="30">
      {{ prospect.email || '---' }}
    </div>
    <div fxFlex="15">
      {{ prospect.city || '---' }}
    </div>
  </mat-card>
  <mat-card class="prospect-card" *ngIf="prospect && prospect.status === 'FREE'" fxLayout="row" fxFlex="{{isOwner? '85': '88'}}" (click)="openEditDialog(prospect.key)">
    <div class="phone" fxFlex="15">
      {{ prospect.cellPhone }}
    </div>
    <div fxFlex="40">
      {{ prospect.name || '---' }} , {{ prospect.lastName || '---' }}
    </div>
    <div class="email" fxFlex="30">
      {{ prospect.email || '---' }}
    </div>
    <div class="expired" fxFlex="25">
      Expira en
      <strong>{{ prospect.userAppInfo.expirationDays}}</strong> días &nbsp;({{prospect.userAppInfo.expirationDate | date: 'dd/MM/yyyy'}})
    </div>
  </mat-card>
  <div class="management-button-container" fxFlex="12">
    <button mat-icon-button color="primary" (click)="openManagementsDialog()">
      <mat-icon aria-label="managements icon">comment</mat-icon>
    </button>
    <button mat-icon-button color="accent" *ngIf="prospect.userAppInfo" (click)="openAppProfile(prospect.userAppInfo.id)">
      <mat-icon aria-label="managements icon">link</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openChat(prospect)">
      <i class="fab fa-whatsapp fa-lg whatsapp-icon"></i>
    </button>
  </div>
</div>
